.App {
  text-align: center;
}

.App__inner {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
}

.App__content input {
  width: 90%;
  margin-bottom: 20px;
}
